<div class="row pager">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= render "shared/logo" %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "#{t ".email"}", class: "form-control input-text" %>
      </div>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        <%= f.password_field :password, autocomplete: "off", placeholder: "#{t ".password"}", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %>
              <%= t ".remember_me" %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit (t ".button_log_in"), class: "btn btn-success" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
